@page
@model TestModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <script>
        $(document).ready(function () {
            $("#test").append(JSTest());
        });

        function JSTest() {
            var r = '', a ="Hello world!", b, c;
            r = SM.cat(r, "a = " + SM.quote2(a),"<br />");
            b = SM.before(a, ' ');
            r = SM.cat(r, "before space b = " + SM.quote2(b), "<br />");
            c = SM.after(a, ' ');
            r = SM.cat(r, "after space c = " + SM.quote2(c), "<br />");
            r = SM.cat(r, "between Hello and ! = " + SM.quote2(SM.btw(a, "Hello", "!")), "<br />");
            r = SM.cat(r, "add to everybody = " + SM.quote2(SM.insBtw(a, " to everybody", "Hello", "!")), "<br />");
            r = SM.cat(r, "mid 5 len 4 = " + SM.quote2(SM.mid(a, 5, 4)), "<br />");
            r = SM.cat(r, "right 7 = " + SM.quote2(SM.right(a, 7)), "<br />");
            r = SM.cat(r, "somma di 1,2,3,4,5,6,7,8,9,10 = " + SM.format(SM.sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10), "EU"), "<br />");
            r = SM.cat(r, "<br><br>data di oggi = " + SM.dateStr(SM.date()), "<br>");
            r = SM.cat(r, "data 20-03-1969 = " + SM.dateStr(SM.date('20-03-1969'), true), "<br>");
            r = SM.cat(r, "In three days = " + SM.dateStr(SM.addDays(SM.date(), 3), true), "<br>");
            r = SM.cat(r, "First of week = " + SM.dateStr(SM.firstOfWeek(SM.date())), "<br>");
            r = SM.cat(r, "First of month = " + SM.dateStr(SM.firstOfMonth(SM.date())), "<br>");
            r = SM.cat(r, "First of year = " + SM.dateStr(SM.firstOfYear(SM.date())), "<br>");
            r = SM.cat(r, "Last of week = " + SM.dateStr(SM.lastOfWeek(SM.date())), "<br>");
            r = SM.cat(r, "Last of month = " + SM.dateStr(SM.lastOfMonth(SM.date())), "<br>");
            r = SM.cat(r, "Last of year = " + SM.dateStr(SM.lastOfYear(SM.date())), "<br>");
            SM.setState("STATUS", "Hello world!");
            return r;
        }

    </script>
    <div id="test">Welcome to JS test.<br /><br /></div>
    <div><input type="hidden" id="SM_STATE"/></div>
</div>
